* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
}

html, body {
    height : 100%;
    width  : 100%;
}

body {
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.grid-container {
    display               : grid;
    grid-template-columns : repeat(var(--cols), auto);
}

.cell {
    width  : 32px;
    height : 32px; 
    border : 1px solid black;
}