* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
}

html, body {
    height     : 100%;
    width      : 100%;
}

body {
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.game-container {
    display         : flex;
    flex-direction  : column;
}

select {
    align-self  : flex-start;
}

.grid-container {
    display               : grid;
    grid-template-columns : repeat(var(--cols), auto);
}

.cell {
    width  : 32px;
    height : 32px; 
    border : 1px solid black;
}